<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title><%= title %> - Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icons/AppIcon72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/AppIcon72x72@2x.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icons/AppIcon76x76@2x.png">
	<link rel="apple-touch-startup-image" href="/icons/iTunesArtwork@2x.png">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/mng/css/bootstrap.min.css">
	<link rel="stylesheet" href="/mng/css/mng.css">
	<script src="/mng/js/angular.min.js"></script>
</head>
<body>
	<% include navbar%>