<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1" />
<title></title>
<style>
*{margin: 0;padding: 0;box-sizing: border-box;}
@media all and (max-width: 367px){
	html{font-size: 16px;}
}
@media all and (min-width: 488px) and (min-height: 51px) { /* min-height: 80px */
	html{font-size: 22px;}
}
@media all and (min-width: 600px) and (min-height: 81px) { /* min-height: 90px */
	html{font-size: 28px;}
}
@media all and (min-width: 748px) and (min-height: 91px) { /* min-height: 110px */
	html{font-size: 32px;}
}
@media all and (min-width: 800px) and (min-height: 111px) { /* min-height: 124px */
	html{font-size: 34px;}
}
@media all and (min-width: 1079px) and (min-height: 124px) { /* min-height: 124px */
	html{font-size: 36px;}
}
@media all and (max-aspect-ratio: 4/3) {}

#bg{
	width: 100%;
	padding-top: 117.8125%;
	background: rgba(208, 206, 206, 0.702) no-repeat center/cover;
}
#w{
	position: absolute;
	left: 1.625rem;
	top: 1.625rem;
	right: 1.625rem;
	bottom: 1.625rem;
	border: #909090 solid 0.125rem;
}
#w h1{
	width: 87.38%;
	padding-top: 60%;
	background: transparent url('landing1_title.png') no-repeat center/contain;
	margin: 28% auto 0;
}
</style>
</head>
<body>
<div id="bg"></div>
<div id="w">
	<h1></h1>
</div>
</body></html>