

<html>  
  <head>  
        <meta charset="utf-8">  
        <title>Map</title>  
  </head> 
<link rel="stylesheet" href="/site/map/css/normalize.min.css" />
<style>
	#map {
		height: auto;
		margin: 3px;
		background-color: #FFE4C4;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	.overlay {
	  fill: none;
	  pointer-events: all;
	}
</style>
<body>
	
	<div id="tooltip" class="hidden">
		<p><a href="javascript:void(0);">全国视图</a></p>
	</div>
	<div id="map"></div>

	<script src="/site/map/js/d3.js"></script>
	<script src="/site/map/js/drawMap.js"></script>
	<script src="/site/map/js/util.js"></script>
	<script src="/site/map/js/timeaxis.js"></script>
	<script src="/site/map/js/pie.js"></script>

<script>
	var totalmaxvalue=10000;
	var totalminvalue=10;
	var namelabeldy=50;
	var namelabeldx=30;
	var provinceDataYear;

	var globalyear = 2016;
	
	var width  = 1330;
	var height = 520;
	var background = "#D1EEEE";
	var overColor = "#F08080";

	var svg = d3.select("#map").append("svg")
	    .attr("width", width)
	    .attr("height", height)
	    .append("g")
	    .attr("transform", "translate(0,0)");

	var chinaJsonPath = "/site/map/data/china.json";
	drawMap(chinaJsonPath, svg);
	


	var nodes = [];
	var provinceNodes = [];
	var coutiesNodes = [];
	var provinceId = "";
	var coutiesId = "";
	var textColor= "black";
	
	//var provinceMax=provinceDataYear.max;
	//	var provinceMin=provinceDataYear.min;
		//drawRangeFinal(1000, 1);

</script>

<script src="/site/map/js/name.js"></script>

</body>  
</html>  