<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>天涯论坛_全球华人网上家园</title>
    <meta name="description" content="全民话题，天涯制造—天涯论坛，全球华人网上家园" />
    <link rel="apple-touch-icon" href="http://static.tianyaui.com/global/m/touch/images/icons/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="http://static.tianyaui.com/global/m/v3/static/css/main_288952c.css">
    <link rel="stylesheet" href="http://static.tianyaui.com/global/m/v3/static/css/index2_4e5bff4.css?v=1.9">
<script>
        (window._ssp_global = window._ssp_global || {}).userConfig = {
            domain: "bdp.tianya.cn"
        }
    </script>
</head>
<body>

	
	<div id="j-homepage" class="m-doc">
        <!-- header -->
		<div class="ty-m-nav">
			<header class="m-header" id="j-header">
				<div class="m-bar f-cf">
					<ul class="m-bar-left" id="ty_go_back">
						<li class="a">
							<a href="http://www.tianya.cn/m/" class="icon-back"></a>
						</li>
					</ul>
					<ul class="m-bar-center" id="ty_logo">
						<li class="logo">
							<a href="http://www.tianya.cn/m/" class="logo-img"><span class="f-vh">天涯社区</span></a>
						</li>
					</ul>
					<ul class="m-bar-right user-info"></ul>
				</div>
			</header>
			<div data-id="10050101" class="gg gg-item" style="display:;"></div>
			<div data-id="10050102" class="gg gg-item" style="display:;"></div>
			<!-- nav -->
			<nav id="ty_nav" class="m-nav">
				<div class="nav-wrap show">
					<div class="m-nav-row">
						<a appstr="shouye" href="http://www.tianya.cn/m/" class="active">首页</a>
						<a appstr="bbs" href="http://bbs.tianya.cn/m/block.jsp" class="">论坛</a>
						<a appstr="focus" href="http://focus.tianya.cn/g" class="">聚焦</a>
						<a appstr="groups" href="http://groups.tianya.cn/m" class="">部落</a>
						<a appstr="blog" href="http://blog.tianya.cn/m/" class="">博客</a>
					</div>
					<div class="m-nav-row">
						<a appstr="wenda" href="http://wenda.tianya.cn/m/" class="">问答</a>
						<a appstr="ebook" href="http://book.tianya.cn/m/" class="">文学</a>
						<a appstr="game" href="http://yy.tianya.cn/" class="">游戏</a>
						<!--<a appstr="food" href="http://nong.tianya.cn/m/" class="">农场</a>-->
						<a appstr="shang" href="http://shang.tianya.cn/rank/m/dsRanking.do?from=t&type=1" class="">打赏</a>
					</div>
					<div id="nav_up" style="display:none;" class="nav-up">收起</div>
				</div>
			</nav>
			<div class="nav-mask" id="nav_mask"></div>
		</div><!-- For FIS -->
		
        <!-- main -->
        <div class="m-main">
            			
			<div class="u-slider u-slider-home">
                <div class="sliderbox gg gg-item" id="j-slider-home" data-id="10050104" >
					<div class="item">
						<a href="http://bbs.tianya.cn/m/post-1095-381542-1.shtml">
							<img lazyload="http://img3.laibafile.cn/p/mh/271146247.jpg" />
						</a>
						<p class="caption">为买房的事压抑得喘不过气来，求开解</p>
						
					</div>
					<div class="item">
						<a href="http://bbs.tianya.cn/m/post-no04-2713473-1.shtml">
							<img lazyload="http://img3.laibafile.cn/p/mh/271188145.jpg" />
						</a>
						<p class="caption">实拍香港浮华背后的那些悲凉</p>
						
					</div>
					<div class="item">
						<a href="http://bbs.tianya.cn/m/post-develop-2205739-1.shtml">
							<img lazyload="http://img3.laibafile.cn/p/mh/270955311.jpg" />
						</a>
						<p class="caption">2017了，80后的你们月收入多少？</p>
						
					</div>
					<div class="item">
						<a href="http://bbs.tianya.cn/m/post-funinfo-7401522-1.shtml">
							<img lazyload="http://img3.laibafile.cn/p/mh/271057525.png" />
						</a>
						<p class="caption">最新华语女星近期活动八卦街拍</p>
						
					</div>
					<div class="item">
						<a href="http://bbs.tianya.cn/m/post-free-5687941-1.shtml">
							<img lazyload="http://img3.laibafile.cn/p/mh/270884995.jpg" />
						</a>
						<p class="caption">两会谈：惠顾于民，取消手机长途漫游</p>
						
					</div>
					<div class="item">
						<a href="http://bbs.tianya.cn/m/post-16-1658743-1.shtml">
							<img lazyload="http://img3.laibafile.cn/p/mh/270922616.jpg" />
						</a>
						<p class="caption">在老屋墙壁里发现神秘古鼎</p>
						
					</div>
                </div>
            </div>
			<div class="u-box">
                
                <a name="type"></a>
                <div class="see-wrap">
	                
	                <div class="u-tab tab-left-off">
	                	<div class="tab-wrap" id="tab_wrap">
	                		<ul class="f-cf" >
	                			
	                		</ul>
	                	</div>
	                </div>
	                <div id="type_div"></div>
	                <div class="u-bd" id="rec_div">
	                    <ul class="u-list-look" id="u-list-look">
							<li>
								<a href="http://bbs.tianya.cn/m/post-develop-2207780-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>大家都来说说除了工资外的其它收入</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">经济论坛</span>
										<span class="look-author">文/二刘子007</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>41916</em></span>
									</div>
								</a>
							</li>
	                    	<li data-id="10050101_fake" class="gg gg-item gg-t5" style="display:none;">
	                    		<!-- <script type="text/javascript" src="http://js.domob-206.domob-inc.cn:14444/domob_web.min.js"></script> -->
	                    		<script type="text/javascript" src="//a.duomeng.cn//hm/common/domob_web.8ba75ec.min.js"></script>
	                    		<script type="text/javascript">
	                    			dw("create",{"c": document.querySelector('li[data-id="10050101_fake"]'), "ppid":"DM_TY_M_1"});
	                    			document.querySelector('li[data-id="10050101_fake"]').style.display = "";
	                    		</script>
	                    	</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-funinfo-7405228-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>八一八85后，90后，和95后小花们的男友类型</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">娱乐八卦</span>
										<span class="look-author">文/魔法的城堡</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>1666</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-worldlook-1771355-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>搞科研985高校教师，必须站出来说几句关于英语的事</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">国际观察</span>
										<span class="look-author">文/天下小康</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>3028</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-free-5689695-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>00后不懂！我们80后的童年才美好……</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271088239.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">天涯杂谈</span>
										<span class="look-author">文/简单爱508</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>6578</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://3c.tianya.cn/kehuduan/2015/zk/index.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>财经十大经典人物代表帖子</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item"></span>
										<span class="look-author">文/天涯财经</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em></em></span>
									</div>
								</a>
							</li>
							<li data-id="10050105_fake" class="gg gg-item gg-t5" style="display:none;">
								<script type="text/javascript">
	                    			dw("create",{"c": document.querySelector('li[data-id="10050105_fake"]'), "ppid":"DM_TY_M_2", "autoImp": false});
	                    			setTimeout(function(){
	                    				document.querySelector('li[data-id="10050105_fake"]').style.display = "";
	                    				dw('imp', 'DM_TY_M_2');
	                    			}, 2000);
	                    		</script>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-98-1093033-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>步入孕晚期，记录在家待产，与北北合体的美好时光</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271113868.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">亲子中心</span>
										<span class="look-author">文/小棱镜</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>607</em></span>
									</div>
								</a>
							</li>
							<li data-id="10050106_fake" class="gg gg-item gg-t5" style="display:none;">
								<script type="text/javascript">
	                    			dw("create",{"c": document.querySelector('li[data-id="10050106_fake"]'), "ppid":"DM_TY_M_3"});
	                    			document.querySelector('li[data-id="10050106_fake"]').style.display = "";
	                    		</script>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-16-1670211-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>大多数人都坐过黑车，但坐黑车会惹上一些奇怪的东西你知道吗</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">莲蓬鬼话</span>
										<span class="look-author">文/我长的不帅啊</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>1742</em></span>
									</div>
								</a>
							</li>

							<li data-id="10050107_fake" class="gg gg-item gg-t5" style="display:none;">
								<script type="text/javascript">
	                    			dw("create",{"c": document.querySelector('li[data-id="10050107_fake"]'), "ppid":"DM_TY_M_4"});
	                    			document.querySelector('li[data-id="10050107_fake"]').style.display = "";
	                    		</script>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-no04-2714368-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>★Ψ【鸿雁传图】天当被子地当床，图文重温‘红旗渠故事’</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271058910.jpg" /></span>
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271060211.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">贴图专区</span>
										<span class="look-author">文/鸿雁b</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>7209</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-fans-443701-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>晴与雨，取决于斯科拉里的用人思路</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">球迷一家</span>
										<span class="look-author">文/草帽的思想</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>269</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-travel-800601-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>【观风问俗】37 五十六个兄弟姐妹的大家庭</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">旅游休闲</span>
										<span class="look-author">文/踏浪而来的风</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>883</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-73-641585-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>布里驴游记一：雷鸣之旅</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271165161.jpg" /></span>
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271165167.jpg" /></span>
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271165173.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">三亚</span>
										<span class="look-author">文/布里丹的驴子2016</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>302</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-funinfo-7403516-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>聊聊好的人设和配音对角色的助力</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">娱乐八卦</span>
										<span class="look-author">文/乍暖已寒</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>13242</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-filmtv-591613-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>郎艳独绝，世无其二（评三生三世十里桃花之夜华）</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/270814842.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">影视评论</span>
										<span class="look-author">文/单眼皮小精灵</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>321</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-worldlook-1771357-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>网易公然挑战中国政府和中国人民的底线——这究竟是不是中国的媒体？</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">国际观察</span>
										<span class="look-author">文/开始____懂了</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>3883</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-no01-515658-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>马英九麻烦大了，会步陈水扁后尘坐牢吗</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">关天茶舍</span>
										<span class="look-author">文/许亿</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>1172</em></span>
									</div>
								</a>
							</li>
							<li data-id="10050107" class="gg gg-item" style="display:none;"></li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-766-448311-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>屌丝装修记</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271112951.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">家居装饰</span>
										<span class="look-author">文/追寻夏日的风</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>321</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-934-126420-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>大龄剩女结婚一月想离，请教婚姻中的过来人出出主意！！</span></h3>
									<div class="look-img">
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">婆媳关系</span>
										<span class="look-author">文/zhucehenmafanABC</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>7839</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-16-1670078-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>钱来啦，送给您。鬼话续（二）</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/269251413.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">莲蓬鬼话</span>
										<span class="look-author">文/BabyBodhi</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>1512</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-no04-2714350-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>天涯厨娘03山里的粗菜淡饭</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/270801091.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">贴图专区</span>
										<span class="look-author">文/梦美了美了</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>4494</em></span>
									</div>
								</a>
							</li>
							<li>
								<a href="http://bbs.tianya.cn/m/post-665-1117107-1.shtml">
									<h3 class="look-title"><i class="icon icon-Laugh-one"></i><span>“愿做你的眼，带你领略世界初春”短视频征集活动</span></h3>
									<div class="look-img">
												<span><img src="http://static.tianyaui.com/global/m/touch/images/loading.gif"  original="http://img3.laibafile.cn/p/s/271060325.jpg" /></span>
									</div>
									<div class="look-sum f-cf">
										<span class="look-item">视频专区</span>
										<span class="look-author">文/天涯短视频</span>
										<span class="look-v-num"><i class="icon icon-eye"></i><em>862</em></span>
									</div>
								</a>
							</li>
	                    </ul>
						<span id="j-look-more" class="u-more">使劲戳，看更多<i class="more_face">☺</i></span>
	                </div>
                </div>
            </div>

<div data-id="10050141" class="gg gg-item" style="display:;"></div>			

			<div class="u-box" id="dashang_div">
                <div class="u-hd f-cf">
                    <h2>热门打赏</h2>
					<a href="http://shang.tianya.cn/rank/m/dsRanking.do?from=t&type=1" class="u-hd-more"><i class="icon icon-rank"></i>排行榜</a>
                </div>
                <div class="u-bd">
                    <ul class="u-list-shang">
                        <li>
							<span class="nodataloading">耐心等等哈，骚年(☆_☆)<i class="three-quarters-loader"></i></span>
						</li>
                    </ul>
	
                </div>
            </div>
            <div data-id="10050103" class="gg gg-item" style="display:;"></div>
			
        </div>
		<!---<div class="cn-wrapper" id="cn-wrapper">
			<ul id="circle_box">
				<li><a href="#b-head"><span class="b-head">页头</span></a></li>
				<li><a href="javascript:;"><span class="b-search">搜索</span></a></li>
				<li><a href="#b-foot"><span class="b-foot">页尾</span></a></li>
				<li><a href="javascript:;"><span class="b-zuji">足迹</span></a></li>
			</ul>
			<div class="circle_open"></div>
			<div class="circle_close"></div>
		</div>-->
    </div>
    <div data-id="10050199" class="gg gg-item" style="display:;"></div>
    <script src="http://static.tianyaui.com/global/ty2.0/TY_m_2.0.js"></script>
    <script src="http://static.tianyaui.com/global/m/v3/static/js/main_70454b3.js"></script>
    <script src="http://static.tianyaui.com/global/m/v3/static/js/index2_275db30.js"></script>

	<script>
		TY.m.nav.init({
			'app_str':"bbs",
			navFromHtml:true,
			navOpen:true,
			showHideIcon:false,
			moveHide:false,
			clickDom2Hide:false
		})
	</script>
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WCmTk1a4eFf2mh", domain:"tianya.cn",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=WCmTk1a4eFf2mh" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript --> 
</body>

</html>